In [1]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go


1.   plotly creates interactive visualizations in the form of HTML files
2.   can't able to handle live data source
2.   Dash is used to create data based dashboard

In [2]:
delieveries=pd.read_csv("deliveries.csv")
matches=pd.read_csv("matches.csv")

In [3]:
delieveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [4]:
matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [5]:
df=delieveries.merge(matches,left_on="match_id",right_on="id")
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [6]:
bestFifty=df.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).head(50).index.tolist()
new_df=df[df["batsman"].isin(bestFifty)]
new_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179071,11415,2,Chennai Super Kings,Mumbai Indians,19,6,RA Jadeja,SR Watson,JJ Bumrah,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179072,11415,2,Chennai Super Kings,Mumbai Indians,20,1,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [7]:
#calculation of strike rate
# sr=no.of run scored/no.of balls played

runs=new_df.groupby("batsman")["batsman_runs"].sum()
balls=new_df.groupby("batsman")["batsman_runs"].count()

sr=(runs/balls)*100
sr=sr.reset_index()
sr

             batsman  batsman_runs
0     AB de Villiers    148.740343
1       AC Gilchrist    133.054662
2         AD Russell    179.950187
3           AJ Finch    127.113703
4          AM Rahane    119.751166
5          AT Rayudu    124.058187
6        BB McCullum    127.332746
7           CH Gayle    145.640370
8          DA Miller    136.264535
9          DA Warner    139.523249
10          DJ Bravo    125.565801
11  DPMD Jayawardene    118.791064
12          DR Smith    132.279534
13      F du Plessis    125.016678
14         G Gambhir    119.835414
15         JH Kallis    105.936272
16         JP Duminy    121.488095
17        KA Pollard    141.751527
18     KC Sangakkara    118.469101
19        KD Karthik    127.612457
20           KK Nair    126.724138
21          KL Rahul    137.406143
22           M Vijay    119.685767
23        MEK Hussey    119.963592
24         MK Pandey    118.432990
25         MK Tiwary    113.969107
26          MS Dhoni    134.930681
27     Mandeep Singh    123.365231
28           NV Ojha    114.338235
29          PA Patel    117.594108
30         Q de Kock    131.073944
31          R Dravid    113.347237
32         RA Jadeja    119.546569
33         RG Sharma    128.773585
34           RR Pant    162.318841
35        RV Uthappa    127.319588
36       S Badrinath    115.742972
37          S Dhawan    122.669492
38          SE Marsh    130.109775
39          SK Raina    133.902077
40         SPD Smith    126.670792
41      SR Tendulkar    114.187867
42         SR Watson    136.945813
43           SS Iyer    125.109489
44         SV Samson    129.340278
45           V Kohli    129.042983
46          V Sehwag    148.827059
47           WP Saha    128.798842
48         YK Pathan    138.860326
49      Yuvraj Singh    125.283190

In [8]:
 # calculating average
 #avg=(total no. of runs/no.of outs)

out=df[df["player_dismissed"].isin(bestFifty)]
nouts=out["player_dismissed"].value_counts()
avg=runs/nouts
avg=avg.reset_index()
avg.rename(columns={'index':"batsman",0:"avg"},inplace=True)

avg=avg.merge(sr,on="batsman")
avg

             batsman        avg  batsman_runs
0     AB de Villiers  40.254545    148.740343
1       AC Gilchrist  27.223684    133.054662
2         AD Russell  34.404762    179.950187
3           AJ Finch  26.029851    127.113703
4          AM Rahane  33.189655    119.751166
5          AT Rayudu  28.921739    124.058187
6        BB McCullum  27.817308    127.332746
7           CH Gayle  41.834862    145.640370
8          DA Miller  34.090909    136.264535
9          DA Warner  43.100000    139.523249
10          DJ Bravo  23.406250    125.565801
11  DPMD Jayawardene  28.250000    118.791064
12          DR Smith  28.392857    132.279534
13      F du Plessis  31.762712    125.016678
14         G Gambhir  31.051471    119.835414
15         JH Kallis  28.552941    105.936272
16         JP Duminy  40.019608    121.488095
17        KA Pollard  28.701031    141.751527
18     KC Sangakkara  25.953846    118.469101
19        KD Karthik  27.318519    127.612457
20           KK Nair  24.915254    126.724138
21          KL Rahul  42.829787    137.406143
22           M Vijay  26.428571    119.685767
23        MEK Hussey  38.764706    119.963592
24         MK Pandey  29.608247    118.432990
25         MK Tiwary  28.762712    113.969107
26          MS Dhoni  42.638095    134.930681
27     Mandeep Singh  22.750000    123.365231
28           NV Ojha  20.733333    114.338235
29          PA Patel  22.809524    117.594108
30         Q de Kock  31.020833    131.073944
31          R Dravid  28.233766    113.347237
32         RA Jadeja  24.387500    119.546569
33         RG Sharma  31.703226    128.773585
34           RR Pant  37.333333    162.318841
35        RV Uthappa  29.058824    127.319588
36       S Badrinath  30.659574    115.742972
37          S Dhawan  33.810219    122.669492
38          SE Marsh  39.507937    130.109775
39          SK Raina  33.425926    133.902077
40         SPD Smith  37.907407    126.670792
41      SR Tendulkar  33.826087    114.187867
42         SR Watson  31.426087    136.945813
43           SS Iyer  31.163636    125.109489
44         SV Samson  27.937500    129.340278
45           V Kohli  38.000000    129.042983
46          V Sehwag  27.555556    148.827059
47           WP Saha  24.054054    128.798842
48         YK Pathan  29.463636    138.860326
49      Yuvraj Singh  24.909910    125.283190

## Scatter plot

In [9]:
trace=go.Scatter(x=avg["avg"],y=avg["batsman_runs"],mode="markers",text=avg["batsman"],marker={"color":"green","size":16},name="v kohli")

data=[trace]

layout=go.Layout(title="Batsman Avg vs SR",xaxis={"title":"Batsman Average"},
                 yaxis={"title":"Batsman Strike rate(sr)"})

fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename="scatter.html")

'scatter.html'

## Line Chart

In [10]:
single=df[df["batsman"]=="V Kohli"]
performance=single.groupby("season")["batsman_runs"].sum().reset_index()
performance

    season  batsman_runs
0     2008           165
1     2009           246
2     2010           307
3     2011           557
4     2012           364
5     2013           639
6     2014           359
7     2015           505
8     2016           973
9     2017           308
10    2018           539
11    2019           472

In [11]:
trace=go.Scatter(x=performance["season"],y=performance["batsman_runs"],mode="lines+markers",marker={"color":"red"})
data=[trace]

layout=go.Layout(title="Year by Year Performance",
                 xaxis={"title":"Season"},
                 yaxis={"title":"Total runs"})
fig=go.Figure(data=data,layout=layout)

pyo.plot(fig,filename="line.html")

'line.html'

In [12]:
single=df[df["batsman"]=="V Kohli"]
performance=single.groupby("season")["batsman_runs"].sum().reset_index()
performance

single1=df[df["batsman"]=="MS Dhoni"]
performance1=single1.groupby("season")["batsman_runs"].sum().reset_index()
performance1

trace=go.Scatter(x=performance["season"],y=performance["batsman_runs"],mode="lines+markers",marker={"color":"red"},name="V kohli")
trace1=go.Scatter(x=performance1["season"],y=performance1["batsman_runs"],mode="lines+markers",marker={"color":"blue"},name="MS dhoni")

data=[trace,trace1]

layout=go.Layout(title="Year by Year Performance",
                 xaxis={"title":"Season"},
                 yaxis={"title":"Total runs"})
fig=go.Figure(data=data,layout=layout)

pyo.plot(fig,filename="multiline.html")

'multiline.html'

In [13]:
def batsman_comp(*name):
  data=[]
  for i in name:
    single=df[df["batsman"]==i]
    performance=single.groupby('season')["batsman_runs"].sum().reset_index()

    trace=go.Scatter(x=performance["season"],y=performance["batsman_runs"],mode="lines+markers",name=i)

    data.append(trace)
    layout=go.Layout(title="Batsman Record Comparator",xaxis={"title":"Season"},
                     yaxis={"title":"Runs"})

    fig=go.Figure(data=data,layout=layout)
    pyo.plot(fig,filename="Multilinesusin.html")

batsman_comp("V kohli","RG Sharma","DA Warner","MS Dhoni")

## Bar Graph

In [14]:
bestTen=df.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).head(10).index.tolist()

bestTen_df=df[df["batsman"].isin(bestTen)]

In [15]:
trace=go.Bar(x=bestTen_df["batsman"],y=bestTen_df["batsman_runs"])

data=[trace]

layout=go.Layout(title="Bar graph",
                 xaxis={"title":"Batsman"},
                 yaxis={"title":"Batman_runs"})
fig=go.Figure(data=data,layout=layout)

pyo.plot(fig,filename="Bar.html")

'Bar.html'

### There are 2 types of Bar Graphs


1.   Nested Bar Graph
2.   Stacked Bar Graph
3.   Overlayed Bar Graph

In [16]:
iw=bestTen_df.groupby(["batsman","inning"])["batsman_runs"].sum().reset_index()
mask=iw["inning"]==1
mask2=iw["inning"]==2
one=iw[mask]
two=iw[mask2]

one.rename(columns={"batsman_runs":"1st Innings"},inplace=True)
two.rename(columns={"batsman_runs":"2nd Innings"},inplace=True)

final=one.merge(two,on="batsman")[["batsman","1st Innings","2nd Innings"]]
final

C:\Users\hp\AppData\Local\Temp\ipykernel_16728\3146479222.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hp\AppData\Local\Temp\ipykernel_16728\3146479222.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          batsman  1st Innings  2nd Innings
0  AB de Villiers         2616         1799
1        CH Gayle         2632         1903
2       DA Warner         2571         2170
3       G Gambhir         1759         2464
4        MS Dhoni         2632         1845
5       RG Sharma         2837         2077
6      RV Uthappa         1822         2622
7        S Dhawan         2690         1942
8        SK Raina         3108         2299
9         V Kohli         2876         2553

In [17]:
trace1=go.Bar(x=final["batsman"],y=final["1st Innings"],name="1st Innings",marker={"color":"red"})
trace2=go.Bar(x=final["batsman"],y=final["2nd Innings"],name="2nd Innings",marker={"color":"blue"})

data=[trace1,trace2]
layout=go.Layout(title="Inning wise Scores",
                  xaxis={"title":"Batsman"},
                  yaxis={"title":"Runs"})
                  # barmode="overlay")
                  # barmode="stack")
fig=go.Figure(data=data,layout=layout)

pyo.plot(fig,filename="Bars.html")

'Bars.html'

## Bubble Plot

In [18]:
new_df=new_df[new_df["batsman_runs"]==6]
six=new_df.groupby("batsman")["batsman_runs"].count().reset_index()
x=avg.merge(six,on="batsman")
x

             batsman        avg  batsman_runs_x  batsman_runs_y
0     AB de Villiers  40.254545      148.740343             214
1       AC Gilchrist  27.223684      133.054662              92
2         AD Russell  34.404762      179.950187             119
3           AJ Finch  26.029851      127.113703              67
4          AM Rahane  33.189655      119.751166              74
5          AT Rayudu  28.921739      124.058187             120
6        BB McCullum  27.817308      127.332746             129
7           CH Gayle  41.834862      145.640370             327
8          DA Miller  34.090909      136.264535              87
9          DA Warner  43.100000      139.523249             181
10          DJ Bravo  23.406250      125.565801              60
11  DPMD Jayawardene  28.250000      118.791064              40
12          DR Smith  28.392857      132.279534             117
13      F du Plessis  31.762712      125.016678              59
14         G Gambhir  31.051471      119.835414              59
15         JH Kallis  28.552941      105.936272              44
16         JP Duminy  40.019608      121.488095              79
17        KA Pollard  28.701031      141.751527             175
18     KC Sangakkara  25.953846      118.469101              27
19        KD Karthik  27.318519      127.612457             101
20           KK Nair  24.915254      126.724138              39
21          KL Rahul  42.829787      137.406143              81
22           M Vijay  26.428571      119.685767              91
23        MEK Hussey  38.764706      119.963592              52
24         MK Pandey  29.608247      118.432990              76
25         MK Tiwary  28.762712      113.969107              40
26          MS Dhoni  42.638095      134.930681             207
27     Mandeep Singh  22.750000      123.365231              33
28           NV Ojha  20.733333      114.338235              79
29          PA Patel  22.809524      117.594108              49
30         Q de Kock  31.020833      131.073944              54
31          R Dravid  28.233766      113.347237              28
32         RA Jadeja  24.387500      119.546569              65
33         RG Sharma  31.703226      128.773585             194
34           RR Pant  37.333333      162.318841              94
35        RV Uthappa  29.058824      127.319588             156
36       S Badrinath  30.659574      115.742972              28
37          S Dhawan  33.810219      122.669492              96
38          SE Marsh  39.507937      130.109775              78
39          SK Raina  33.425926      133.902077             195
40         SPD Smith  37.907407      126.670792              49
41      SR Tendulkar  33.826087      114.187867              29
42         SR Watson  31.426087      136.945813             177
43           SS Iyer  31.163636      125.109489              67
44         SV Samson  27.937500      129.340278              89
45           V Kohli  38.000000      129.042983             191
46          V Sehwag  27.555556      148.827059             106
47           WP Saha  24.054054      128.798842              59
48         YK Pathan  29.463636      138.860326             161
49      Yuvraj Singh  24.909910      125.283190             149

In [19]:
trace=go.Scatter(x=x["avg"],y=x["batsman_runs_x"],mode="markers",marker={"size":x["batsman_runs_y"]},text=x["batsman"])

data=[trace]

layout=go.Layout(title="Bubble Chart",
                 xaxis={"title":"Average"},
                 yaxis={"title":"SR"})

fig=go.Figure(data=data,layout=layout)

pyo.plot(fig,filename="bubble chart")

D:\Anaconda\Lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `bubble chart` didn't end with .html. Adding .html to the end of your file.

'bubble chart.html'

## Bubble Plot

In [20]:
match_agg=delieveries.groupby(["match_id"])["total_runs"].sum().reset_index()
season_wise=match_agg.merge(matches,left_on="match_id",right_on="id")[["match_id","total_runs","season"]]
season_wise

     match_id  total_runs  season
0           1         379    2017
1           2         371    2017
2           3         367    2017
3           4         327    2017
4           5         299    2017
..        ...         ...     ...
751     11347         280    2019
752     11412         276    2019
753     11413         341    2019
754     11414         317    2019
755     11415         309    2019

[756 rows x 3 columns]

In [21]:
trace=go.Box(x=season_wise["total_runs"],name="All Seasons")

data=[trace]

layout=go.Layout(title="Total Score analysis",xaxis={"title":"Total Score"})

fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename="boxplot.html")

'boxplot.html'

In [22]:
trace=go.Box(x=season_wise[season_wise["season"]==2017]["total_runs"],name="2017")
trace1=go.Box(x=season_wise[season_wise["season"]==2008]["total_runs"],name="2008")

data=[trace,trace1]

layout=go.Layout(title="Total Score analysis",xaxis={"title":"Total Score"})

fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename="boxplot.html")

'boxplot.html'

## Displot Plot

reg plot+kde plot+ hist plot

In [23]:
# jha entries jada hogi wha dense jata h

In [24]:
import plotly.figure_factory as ff
avg

             batsman        avg  batsman_runs
0     AB de Villiers  40.254545    148.740343
1       AC Gilchrist  27.223684    133.054662
2         AD Russell  34.404762    179.950187
3           AJ Finch  26.029851    127.113703
4          AM Rahane  33.189655    119.751166
5          AT Rayudu  28.921739    124.058187
6        BB McCullum  27.817308    127.332746
7           CH Gayle  41.834862    145.640370
8          DA Miller  34.090909    136.264535
9          DA Warner  43.100000    139.523249
10          DJ Bravo  23.406250    125.565801
11  DPMD Jayawardene  28.250000    118.791064
12          DR Smith  28.392857    132.279534
13      F du Plessis  31.762712    125.016678
14         G Gambhir  31.051471    119.835414
15         JH Kallis  28.552941    105.936272
16         JP Duminy  40.019608    121.488095
17        KA Pollard  28.701031    141.751527
18     KC Sangakkara  25.953846    118.469101
19        KD Karthik  27.318519    127.612457
20           KK Nair  24.915254    126.724138
21          KL Rahul  42.829787    137.406143
22           M Vijay  26.428571    119.685767
23        MEK Hussey  38.764706    119.963592
24         MK Pandey  29.608247    118.432990
25         MK Tiwary  28.762712    113.969107
26          MS Dhoni  42.638095    134.930681
27     Mandeep Singh  22.750000    123.365231
28           NV Ojha  20.733333    114.338235
29          PA Patel  22.809524    117.594108
30         Q de Kock  31.020833    131.073944
31          R Dravid  28.233766    113.347237
32         RA Jadeja  24.387500    119.546569
33         RG Sharma  31.703226    128.773585
34           RR Pant  37.333333    162.318841
35        RV Uthappa  29.058824    127.319588
36       S Badrinath  30.659574    115.742972
37          S Dhawan  33.810219    122.669492
38          SE Marsh  39.507937    130.109775
39          SK Raina  33.425926    133.902077
40         SPD Smith  37.907407    126.670792
41      SR Tendulkar  33.826087    114.187867
42         SR Watson  31.426087    136.945813
43           SS Iyer  31.163636    125.109489
44         SV Samson  27.937500    129.340278
45           V Kohli  38.000000    129.042983
46          V Sehwag  27.555556    148.827059
47           WP Saha  24.054054    128.798842
48         YK Pathan  29.463636    138.860326
49      Yuvraj Singh  24.909910    125.283190

In [25]:
hist_data=[avg["avg"]]
group_labels=["Average"]

fig=ff.create_distplot(hist_data,group_labels)  #bins_size=[]
pyo.plot(fig,filename="displot.html")

'displot.html'

## Histogram

In [26]:
x=delieveries.groupby("batsman")["batsman_runs"].count()>150
x=x[x].index.tolist()

new=delieveries[delieveries["batsman"].isin(x)]

runs=new.groupby("batsman")["batsman_runs"].sum()
balls=new.groupby("batsman")["batsman_runs"].count()

sr=(runs/balls)*100
sr=sr.reset_index()
sr

             batsman  batsman_runs
0     A Ashish Reddy    142.857143
1           A Mishra     89.756098
2          A Symonds    124.711908
3    AA Jhunjhunwala     99.541284
4         AB Agarkar    111.875000
..               ...           ...
169          Y Nagar    105.166052
170  Y Venugopal Rao    113.872832
171        YK Pathan    138.860326
172      YV Takawale    104.918033
173     Yuvraj Singh    125.283190

[174 rows x 2 columns]

In [27]:
trace=go.Histogram(x=sr["batsman_runs"],name="Strike rate variation",xbins={"size":10})
data=[trace]

layout=go.Layout(title="Strike rate analysis",
                 xaxis={"title":"Strike rates"})

fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename="histo.html")

'histo.html'

## HEATMAPS

In [28]:
six=delieveries[delieveries["batsman_runs"]==6]
six=six.groupby(["batting_team","over"])["batsman_runs"].count().reset_index()
six

            batting_team  over  batsman_runs
0    Chennai Super Kings     1             9
1    Chennai Super Kings     2            21
2    Chennai Super Kings     3            49
3    Chennai Super Kings     4            45
4    Chennai Super Kings     5            53
..                   ...   ...           ...
290  Sunrisers Hyderabad    16            31
291  Sunrisers Hyderabad    17            25
292  Sunrisers Hyderabad    18            49
293  Sunrisers Hyderabad    19            58
294  Sunrisers Hyderabad    20            44

[295 rows x 3 columns]

In [29]:
trace=go.Heatmap(x=six["batting_team"],y=six["over"],z=six["batsman_runs"])

data=[trace]

layout=go.Layout(title="Six Heatmap")

fig=go.Figure(data=data,layout=layout)

pyo.plot(fig,filename="Heatmap.html")

'Heatmap.html'

In [30]:
dots=delieveries[delieveries["batsman_runs"]==0]
dot=dots.groupby(["batting_team","over"])["batsman_runs"].count().reset_index()
from plotly import tools

traces=go.Heatmap(x=six["batting_team"],y=six["over"],z=six["batsman_runs"].values.tolist())
traces2=go.Heatmap(x=dots["batting_team"],y=dots["over"],z=dots["batsman_runs"].values.tolist())

fig=tools.make_subplots(rows=1,cols=2,subplot_titles=["6's","0's"],shared_yaxes=True)
fig.append_trace(traces,1,1)
fig.append_trace(traces2,1,2)

pyo.plot(fig,filename="multi_heatmap.html")

D:\Anaconda\Lib\site-packages\plotly\tools.py:460: DeprecationWarning:

plotly.tools.make_subplots is deprecated, please use plotly.subplots.make_subplots instead

'multi_heatmap.html'

In [31]:
dots

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179057,11415,2,Chennai Super Kings,Mumbai Indians,17,4,SR Watson,DJ Bravo,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179064,11415,2,Chennai Super Kings,Mumbai Indians,18,5,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179067,11415,2,Chennai Super Kings,Mumbai Indians,19,2,DJ Bravo,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,DJ Bravo,caught,Q de Kock
179069,11415,2,Chennai Super Kings,Mumbai Indians,19,4,RA Jadeja,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN