***series***

In [2]:
import pandas as pd

In [3]:
a1=[1,2,3,7,9,0,8]
a2=['a','b','c','d','e','f','g']
a3=pd.Series(a1,a2)
a3

a    1
b    2
c    3
d    7
e    9
f    0
g    8
dtype: int64

In [4]:
a=[[1,2,3,5],['am','an','as','ar']]
a3=['hello','world']
a3=pd.Series(a,a3)
a3

a    1
b    2
c    3
d    7
e    9
f    0
g    8
dtype: int64

***Dataframe***

In [5]:
a={'Raj':[1,2,4,5,7],'Raj':[2,4,6,8,9],'rahul':[1,2,7,8,9]}
df=pd.DataFrame(a)
print(df)

   Raj  Raj  rahul
0     1     2      1
1     2     4      2
2     4     6      7
3     5     8      8
4     7     9      9

In [6]:
df

   Raj  Raj  rahul
0     1     2      1
1     2     4      2
2     4     6      7
3     5     8      8
4     7     9      9

In [7]:
a={'Raj':[1,2,4],'Raj':[2,4,6],'rahul':[1,2,7]}
df=pd.DataFrame(a,index=['Raj','Raj','rahul'])
print(df)
df

       Raj  Raj  rahul
Raj      1     2      1
Raj      2     4      2
rahul     4     6      7

       Raj  Raj  rahul
Raj      1     2      1
Raj      2     4      2
rahul     4     6      7

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DATAFRAME  DATA ANALYSIS  MACHINE LEARNING(MATPLOT LIBRARY) MODELS/Iris_data_sample.xlsx - Iris_data.csv')

In [10]:
df.shape

(150, 6)

In [11]:
df.describe()

       Unnamed: 0  SepalWidthCm  PetalWidthCm
count  150.000000    149.000000    150.000000
mean    75.500000      3.054362      1.198667
std     43.445368      0.435034      0.763161
min      1.000000      2.000000      0.100000
25%     38.250000      2.800000      0.300000
50%     75.500000      3.000000      1.300000
75%    112.750000      3.300000      1.800000
max    150.000000      4.400000      2.500000

In [12]:
df.corr().head()

<ipython-input-12-3e266cfc8a70>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr().head()

              Unnamed: 0  SepalWidthCm  PetalWidthCm
Unnamed: 0      1.000000     -0.403090      0.899759
SepalWidthCm   -0.403090      1.000000     -0.359751
PetalWidthCm    0.899759     -0.359751      1.000000

In [13]:
df.mean()

<ipython-input-13-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Unnamed: 0      75.500000
SepalWidthCm     3.054362
PetalWidthCm     1.198667
dtype: float64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     150 non-null    int64
 1   SepalLengthCm  150 non-null    object
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    object
 4   PetalWidthCm   150 non-null    float64
 5   Species        149 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

In [15]:
df.loc[:,['SepalLengthCm','SepalWidthCm','PetalLengthCm']]

    SepalLengthCm  SepalWidthCm PetalLengthCm
0             5.1           3.5           1.4
1             4.9           NaN           1.4
2             4.7           3.2           1.3
3              ??           3.1           1.5
4               5           3.6           ###
..            ...           ...           ...
145           6.7           3.0           5.2
146           6.3           2.5             5
147           6.5           3.0           5.2
148           6.2           3.4           5.4
149           5.9           3.0           5.1

[150 rows x 3 columns]

In [16]:
df.iloc[-1:]

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [17]:
df.iloc[-1:,:-1]

     Unnamed: 0 SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm
149         150           5.9           3.0           5.1           1.8

In [18]:
df.max()

<ipython-input-18-4c1ddf8920ff>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.max()

Unnamed: 0       150
SepalLengthCm     ??
SepalWidthCm     4.4
PetalWidthCm     2.5
dtype: object

In [20]:
df.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

In [24]:
data_xlsx=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/DATAFRAME  DATA ANALYSIS  MACHINE LEARNING(MATPLOT LIBRARY) MODELS/Iris_data_sample.xlsx')

In [25]:
data_xlsx.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,??
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [27]:
df2=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DATAFRAME  DATA ANALYSIS  MACHINE LEARNING(MATPLOT LIBRARY) MODELS/weather_data.csv')

In [28]:
df2

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017       -99999          7  Sunny
2  01-03-2017           28     -99999   Snow
3  01-04-2017       -99999          7      0
4  01-05-2017           32     -99999   Rain
5  01-06-2017           31          2  Sunny
6  01-06-2017           34          5      0

***pd.to_datetime()***

In [32]:
df2['Date'] = pd.to_datetime(df2['day'])

In [33]:
df2

          day  temperature  windspeed  event       Date
0  01-01-2017           32          6   Rain 2017-01-01
1  01-02-2017       -99999          7  Sunny 2017-01-02
2  01-03-2017           28     -99999   Snow 2017-01-03
3  01-04-2017       -99999          7      0 2017-01-04
4  01-05-2017           32     -99999   Rain 2017-01-05
5  01-06-2017           31          2  Sunny 2017-01-06
6  01-06-2017           34          5      0 2017-01-06

In [34]:
df2.drop_duplicates(inplace = True)

In [35]:
df2

          day  temperature  windspeed  event       Date
0  01-01-2017           32          6   Rain 2017-01-01
1  01-02-2017       -99999          7  Sunny 2017-01-02
2  01-03-2017           28     -99999   Snow 2017-01-03
3  01-04-2017       -99999          7      0 2017-01-04
4  01-05-2017           32     -99999   Rain 2017-01-05
5  01-06-2017           31          2  Sunny 2017-01-06
6  01-06-2017           34          5      0 2017-01-06

In [57]:
x=df2.Date.dt.year
# x=df2.Date.dt.month
# x=df2.Date.dt.hour
# x=df2.Date.dt.minute
# x=df2.Date.dt.second
# x=df2.Date.dt.date
# x=df2.Date.dt.day

0    2017
1    2017
2    2017
3    2017
4    2017
5    2017
6    2017
Name: Date, dtype: int64

In [63]:
df3=pd.concat([df2,x],axis='columns')

In [64]:
df3

          day  temperature  windspeed  event       Date  Date
0  01-01-2017           32          6   Rain 2017-01-01  2017
1  01-02-2017       -99999          7  Sunny 2017-01-02  2017
2  01-03-2017           28     -99999   Snow 2017-01-03  2017
3  01-04-2017       -99999          7      0 2017-01-04  2017
4  01-05-2017           32     -99999   Rain 2017-01-05  2017
5  01-06-2017           31          2  Sunny 2017-01-06  2017
6  01-06-2017           34          5      0 2017-01-06  2017