In [1]:
import pandas as pd

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/grieve')

Mounted at /content/grieve

In [4]:
df=pd.read_csv('/content/grieve/MyDrive/Colab Notebooks/DATAFRAME  DATA ANALYSIS  MACHINE LEARNING(MATPLOT LIBRARY) MODELS/Iris_data_sample.xlsx - Iris_data.csv')

In [5]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
df['SepalLengthCm'].max()

'??'

In [8]:
df.size

900

In [9]:
df.ndim

2

In [10]:
df['SepalWidthCm'][df['Species']=='Iris-setosa']

0     3.5
2     3.2
3     3.1
4     3.6
5     3.9
6     3.4
7     3.4
8     2.9
9     3.1
10    3.7
11    3.4
12    3.0
13    3.0
14    4.0
15    4.4
16    3.9
17    3.5
18    3.8
19    3.8
20    3.4
21    3.7
22    3.6
23    3.3
24    3.4
25    3.0
26    3.4
27    3.5
28    3.4
29    3.2
30    3.1
31    3.4
32    4.1
33    4.2
34    3.1
35    3.2
36    3.5
37    3.1
38    3.0
39    3.4
40    3.5
41    2.3
42    3.2
43    3.5
44    3.8
45    3.0
46    3.8
47    3.2
48    3.7
49    3.3
Name: SepalWidthCm, dtype: float64

In [11]:
df.fillna(0,inplace=True)

In [12]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,0.0,1.4,0.2,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
df['PetalWidthCm'].mean()

1.1986666666666668

In [14]:
df.describe()

       Unnamed: 0  SepalWidthCm  PetalWidthCm
count  150.000000    150.000000    150.000000
mean    75.500000      3.034000      1.198667
std     43.445368      0.500178      0.763161
min      1.000000      0.000000      0.100000
25%     38.250000      2.800000      0.300000
50%     75.500000      3.000000      1.300000
75%    112.750000      3.300000      1.800000
max    150.000000      4.400000      2.500000

In [15]:
df['SepalWidthCm'].max()

4.4

In [16]:
df.memory_usage()

Index             128
Unnamed: 0       1200
SepalLengthCm    1200
SepalWidthCm     1200
PetalLengthCm    1200
PetalWidthCm     1200
Species          1200
dtype: int64

In [17]:
df.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,0.0,1.4,0.2,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [18]:
df.tail()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [19]:
df[['SepalLengthCm','SepalWidthCm']]

    SepalLengthCm  SepalWidthCm
0             5.1           3.5
1             4.9           0.0
2             4.7           3.2
3              ??           3.1
4               5           3.6
..            ...           ...
145           6.7           3.0
146           6.3           2.5
147           6.5           3.0
148           6.2           3.4
149           5.9           3.0

[150 rows x 2 columns]

In [20]:
df.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,0.0,1.4,0.2,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [21]:
df.shape

(150, 6)

In [22]:
df[['SepalWidthCm','PetalLengthCm']]

     SepalWidthCm PetalLengthCm
0             3.5           1.4
1             0.0           1.4
2             3.2           1.3
3             3.1           1.5
4             3.6           ###
..            ...           ...
145           3.0           5.2
146           2.5             5
147           3.0           5.2
148           3.4           5.4
149           3.0           5.1

[150 rows x 2 columns]

In [23]:
df[df['SepalLengthCm']==df['SepalLengthCm'].max()]

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
3,4,??,3.1,1.5,0.2,Iris-setosa

In [24]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [25]:
df.set_index('SepalLengthCm')

,Unnamed: 0,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
SepalLengthCm,,,,,
5.1,1,3.5,1.4,0.2,Iris-setosa
4.9,2,0.0,1.4,0.2,0
4.7,3,3.2,1.3,0.2,Iris-setosa
??,4,3.1,1.5,0.2,Iris-setosa
5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...
6.7,146,3.0,5.2,2.3,Iris-virginica
6.3,147,2.5,5,1.9,Iris-virginica
6.5,148,3.0,5.2,2.0,Iris-virginica
6.2,149,3.4,5.4,2.3,Iris-virginica
5.9,150,3.0,5.1,1.8,Iris-virginica

In [26]:
df.reset_index(inplace=True)

In [27]:
df

,index,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,1,2,4.9,0.0,1.4,0.2,0
2,2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4,??,3.1,1.5,0.2,Iris-setosa
4,4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...,...
145,145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,146,147,6.3,2.5,5,1.9,Iris-virginica
147,147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [28]:
df=pd.read_csv('/content/grieve/MyDrive/Colab Notebooks/DATAFRAME  DATA ANALYSIS  MACHINE LEARNING(MATPLOT LIBRARY) MODELS/Iris_data_sample.xlsx - Iris_data.csv',skiprows=1)

In [29]:
df

       1  5.1  3.5  1.4  0.2     Iris-setosa
0      2  4.9  NaN  1.4  0.2             NaN
1      3  4.7  3.2  1.3  0.2     Iris-setosa
2      4   ??  3.1  1.5  0.2     Iris-setosa
3      5    5  3.6  ###  0.2     Iris-setosa
4      6  5.4  3.9  NaN  0.4     Iris-setosa
..   ...  ...  ...  ...  ...             ...
144  146  6.7  3.0  5.2  2.3  Iris-virginica
145  147  6.3  2.5    5  1.9  Iris-virginica
146  148  6.5  3.0  5.2  2.0  Iris-virginica
147  149  6.2  3.4  5.4  2.3  Iris-virginica
148  150  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 6 columns]

In [30]:
df=pd.read_csv('/content/grieve/MyDrive/Colab Notebooks/DATAFRAME  DATA ANALYSIS  MACHINE LEARNING(MATPLOT LIBRARY) MODELS/Iris_data_sample.xlsx - Iris_data.csv',header=None,names=['aa','bb','cc','dd','ee','ff'])

In [31]:
df

,aa,bb,cc,dd,ee,ff
0,NaN,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1.0,5.1,3.5,1.4,0.2,Iris-setosa
2,2.0,4.9,NaN,1.4,0.2,NaN
3,3.0,4.7,3.2,1.3,0.2,Iris-setosa
4,4.0,??,3.1,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146.0,6.7,3,5.2,2.3,Iris-virginica
147,147.0,6.3,2.5,5,1.9,Iris-virginica
148,148.0,6.5,3,5.2,2,Iris-virginica
149,149.0,6.2,3.4,5.4,2.3,Iris-virginica
150,150.0,5.9,3,5.1,1.8,Iris-virginica

In [32]:
df=pd.read_csv('/content/grieve/MyDrive/Colab Notebooks/DATAFRAME  DATA ANALYSIS  MACHINE LEARNING(MATPLOT LIBRARY) MODELS/Iris_data_sample.xlsx - Iris_data.csv',na_values=['??',"###"])

In [33]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,NaN,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,NaN,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [34]:
df['SepalLengthCm'].mean()

5.851677852348993

In [35]:
df.fillna(5.85,inplace=True)

In [36]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.10,3.50,1.40,0.2,Iris-setosa
1,2,4.90,5.85,1.40,0.2,5.85
2,3,4.70,3.20,1.30,0.2,Iris-setosa
3,4,5.85,3.10,1.50,0.2,Iris-setosa
4,5,5.00,3.60,5.85,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.70,3.00,5.20,2.3,Iris-virginica
146,147,6.30,2.50,5.00,1.9,Iris-virginica
147,148,6.50,3.00,5.20,2.0,Iris-virginica
148,149,6.20,3.40,5.40,2.3,Iris-virginica
149,150,5.90,3.00,5.10,1.8,Iris-virginica

In [37]:
df.to_csv('/content/grieve/MyDrive/Colab Notebooks/new_csv.csv',index=False)

In [38]:
df=pd.read_csv("/content/grieve/MyDrive/Colab Notebooks/DATAFRAME  DATA ANALYSIS  MACHINE LEARNING(MATPLOT LIBRARY) MODELS/Iris_data_sample.xlsx - Iris_data.csv",na_values=['??','###'])

In [39]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,NaN,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,NaN,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [40]:
df.fillna({'Species':'HUMAN','SepalWidthCm':555,'PetalLengthCm':555,'PetalWidthCm':555,'SepalLengthCm':555},inplace=True)

In [41]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,555.0,1.4,0.2,HUMAN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,555.0,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,555.0,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [42]:
df.to_csv('/content/grieve/MyDrive/Colab Notebooks/new1_csv.csv',index=False)

In [43]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,555.0,1.4,0.2,HUMAN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,555.0,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,555.0,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica